$colors:(
    primary: #0056b3,
    secondary: #0056b3,
    success: #28a745,
    info: #17a2b8,
    warning: #ffc107,
    danger: #dc3545,
    light: #f8f9fa,
    dark: #343a40
);

@each $key, $value in $colors {
    :root {
        --color-#{$key}: #{$value};
    }
}

@mixin textCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}